/logs
/config

.venv
**/__pycache__/

.idea/
venv/

# Music cache
cache/


/models

# Packaging related
/build
/dist

# MACOS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

xiaozhi.spec

/installer
